<!-- Cards with media area -->
<div class="container-g">
    <app-header (sideNavToggled)="sideNavStatus = $event;" ></app-header>
    <main>
        <app-side-nav [sideNavStatus]="sideNavStatus"
        [ngClass]="{'app-side-nav-open':sideNavStatus}" ></app-side-nav>    
        <!-- <div class="display-area p-3" ngClass="{'display-area-shrink': sideNavStatus}"> -->
          <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>T-Shirt</mat-card-title>
        <mat-card-subtitle>Points:799</mat-card-subtitle>
        <img mat-card-lg-image src="../../assets/T-shirt.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <button mat-raised-button color="primary">Redeem</button>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Sunglasses</mat-card-title>
        <mat-card-subtitle>Points:1399</mat-card-subtitle>
        <img mat-card-lg-image src="../../assets/Sun_glasses.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <button mat-raised-button color="primary">Redeem</button>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Points:1900</mat-card-subtitle>
        <img mat-card-lg-image src="../../assets/LaptopBag.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <button mat-raised-button color="primary">Redeem</button>
  </mat-card>

</div>
</main>

    
</div>

