<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-centre">
                    <h1>Sign Up</h1>
                    <h6>Please fill the details below !!</h6>
                </div>
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="exampleInputUsername1" class="form-label">User Name</label>
                            <input formControlName="username" type ="text" class="form-control" id="exampleInputEmail1" required aria-describedby="username">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                          <input formControlName="Phone"type="tel" class="form-control" id="exampleInputPhone" required aria-describedby="Phone">
                          <div id="Phone" class="form-text">We'll never share your Phone No with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password"type="password" class="form-control" id="exampleInputPassword1" required>
                        </div>
                         <div class="x">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                         </div>
                      </form> 
                      <a style="color: rgb(255, 0, 0); margin-top: 10px;"  routerLink="/login">Already registered? click to login!!</a>
                </form>
            </div>
        </div>
    </div>
</div>

