<!-- <div>
    <button routerLink="/login" type="submit" class="btn btn-primary">Sign In</button>
    <p><a style="color: rgb(255, 0, 0); margin-top: 10px;"  routerLink="/signup">New user? click to signup!!</a> </p>
</div> -->
<main>
    <div class="Reward_wrapper">
        <div class="glass_box">
            <div class="row">
                <div class="col-md-6">
                    <div class="reward_img">
                        <img src="../../assets/signIn1.png" alt="reward-img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner_wrapper">
                        <div class="reward_heading">
                            <h3>Reward Yourself</h3>
                            <span>Recycle,</span> <span>Reduce,</span> <span>Rewards</span>
                        </div>
                        <div class="button_screen">
                            <div class="btn_field">
                                <button routerLink="/login" type="submit" class="btn btn-primary">Sign In</button>
    
                            </div>

                        </div>
                        <div class="detail_text">
                            <p><a style="color: rgb(255, 0, 0); margin-top: 10px;"  routerLink="/signup">New user? click to signup!!</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
